openapi: 3.0.0
info:
  title: slack hook
  version: 1.0.0
servers:
- url: https://hooks.slack.com
paths:
  /services/{workspace}/{channel}/{channel_id}:
    post:
      summary: Post a message to Slack
      parameters:
      - name: channel
        in: path
        description: The channel
        required: true
        style: simple
        explode: false
        schema:
          minimum: 1
          type: string
      - name: channel_id
        in: path
        description: The channel_id
        required: true
        style: simple
        explode: false
        schema:
          minimum: 1
          type: string
      - name: workspace
        in: path
        description: The workspace
        required: true
        style: simple
        explode: false
        schema:
          minimum: 1
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Message'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/channel_channel_id_body'
            encoding:
              payload:
                contentType: application/json
                style: form
      responses:
        "200":
          description: A response
components:
  schemas:
    Message:
      title: A Slack message
      required:
      - text
      type: object
      properties:
        text:
          type: string
          description: Message text
    channel_channel_id_body:
      type: object
      properties:
        payload:
          $ref: '#/components/schemas/Message'
